---
layout: default
---

<div class="home">

	<div class="container">
		<div class="column recipe-list">
			<h1 class="page-heading">Posts</h1>

			<section class="food-type">
				<h2>Entrees</h2>

				{% assign entree-posts = (site.categories.entree | sort: 'title') %}
				{% for post in entree-posts %}
					<div class="recipe">
						<h3 class="recipe-title">{{ post.title }}</h3>
						<!-- <div class="meta">
							{% for tag in post.tags %}
								<div class="tag">{{ tag }}</div>
							{% endfor %}
						</div> -->
					</div>
				{% endfor %}
			</section>

			<section class="food-type">
				<h2>Sides</h2>

				{% assign side-posts = (site.categories.side | sort: 'title') %}
				{% for post in side-posts %}
					<div class="recipe">
						<h3 class="recipe-title">{{ post.title }}</h3>
						<!-- <div class="meta">
							{% for tag in post.tags %}
								<div class="tag">{{ tag }}</div>
							{% endfor %}
						</div> -->
					</div>
				{% endfor %}
			</section>

			<section class="food-type">
				<h2>Soups</h2>

				{% assign soup-posts = (site.categories.soup | sort: 'title') %}
				{% for post in soup-posts %}
					<div class="recipe">
						<h3 class="recipe-title">{{ post.title }}</h3>
						<!-- <div class="meta">
							{% for tag in post.tags %}
								<div class="tag">{{ tag }}</div>
							{% endfor %}
						</div> -->
					</div>
				{% endfor %}
			</section>

			<section class="food-type">
				<h2>Salads</h2>

				{% assign salad-posts = (site.categories.salad | sort: 'title') %}
				{% for post in salad-posts %}
					<div class="recipe">
						<h3 class="recipe-title">{{ post.title }}</h3>
						<!-- <div class="meta">
							{% for tag in post.tags %}
								<div class="tag">{{ tag }}</div>
							{% endfor %}
						</div> -->
					</div>
				{% endfor %}
			</section>
		</div>
	</div>

</div>
