/*
 * * * * * * * * * * * * * * * * * * *
 * HEADER
 * * * * * * * * * * * * * * * * * * *
 */

$header-height: 50px;

.site-header {
	display: grid;
	grid-template-columns: 300px auto;
	width: 100%;
	height: $header-height;
}

.logo,
.search {
	height: $header-height;
	font-size: 22px;
}

.logo {
	padding: 0;
	line-height: $header-height;
	color: $white;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: $off-black;

	span {
		@include rooney();
		font-style: italic;
		color: $blue;
		text-transform: none;
		letter-spacing: 0;
	}

	&:hover {
		cursor: pointer;
		color: $white;
		background: tint($off-black, 90);
	}
}

.search {
	background: $light-grey;

	input {
		width: 100%;
		height: $header-height;
		padding: 0 20px;
		border: none;
		border-top: 2px solid $white;
		border-bottom: 2px solid $white;
		background: $white;

		&:focus {
			outline: none;
			border-bottom-color: $blue;
		}
	}
}