/*
 * * * * * * * * * * * * * * * * * * *
 * HEADER
 * * * * * * * * * * * * * * * * * * *
 */

$header-height: 50px;

.site-header {
	width: 100%;
	height: $header-height;
	margin-bottom: 20px;
}

.filter {
	display: block;
	width: 100%;
	height: $header-height;
	background: $white;
	border: none;
	border-bottom: 1px solid $light-grey;
	padding: 0 10px;
	@include font-size(2);

	&:focus {
		outline: none;
		border-color: $cyan;
		background: tint($cyan, 5);
	}
}